<div class="features">
    <div class="row">
        <div class="column">
            <mat-icon aria-hidden="false" aria-label="La squadra di calcio maschile">sports_soccer</mat-icon>
            <h3>Squadra Maschile</h3>
            <p>La squadra di calcio maschile</p>
        </div>
        <div class="column">
            <mat-icon aria-hidden="false" aria-label="La squadra di calcio femminile">sports_soccer</mat-icon>
            <h3>Squadra Femminile</h3>
            <p>La squadra di calcio femminile</p>
        </div>
        <div class="column">
            <mat-icon aria-hidden="false" aria-label="Support your local footbal team">groups</mat-icon>
            <h3>Supporters</h3>
            <p>Support your local footbal team</p>
        </div>
    </div>
</div>
<div class="contents">
    <h2>In Evidenza</h2>
    <div class="row">
        <div class="column center-content">
            <h3>IL CALCIO È UNO SPORT PER RAGAZZE!</h3>
            <p>Un altro anno di #SportPopolare si appresta a iniziare e noi con grinta e determinazione siamo pronte a
                ricominciare ad allenarci!
                Nonostante la situazione pandemica incomba, la squadra cresce in qualità e in quantità a pieno ritmo,
                rendendo la nostra avventura sempre più stimolante.
                La nostra è un'esperienza fatta di impegno e passione, di crescita individuale e collettiva. Ognuna di
                noi porta dentro questo meraviglioso contenitore un pezzo di se': la sua forza, le sue rivendicazioni,
                le sue paure, la sua lotta. Continueremo anche quest'anno a farci sentire, a occupare con fierezza gli
                spazi che attraversiamo, a ripetere che il calcio è uno sport per ragazze, ad allenare il nostro corpo e
                la nostra mente. Solidali, ribelli, libere (… e pure belle, diciamocelo! 🤩 )
                Non vediamo l'ora di rivederci e poter finalmente giocare, di correre, di sudare, di ridere, di
                incazzarci, ma anche riabbracciarci e urlare insieme.

                Buon 2021 a tutte noi, e a tutt* coloro che ci sostengono. Che la nostra avventura continui con il vento
                sempre in poppa!

                Asd Aurora-Vanchiglia GIRLZ</p>
        </div>
        <div class="column">
            <img src="assets/girlz.jpg">
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img src="assets/tifo.jpg">
        </div>
        <div class="column center-content">
            <h3> Tempo di bilanci e prospettive anche in casa AuroraVanchiglia per questo fine 2020.
            </h3>
            <p> Per una realtà popolare come la nostra, con poco più di un anno di attività sulle spalle sicuramente il
                Covid ha "bloccato" un po' di progetti, forse anche sul più bello quando vedevamo avverarsi sia sul
                piano sportivo che aggregativo i nostri primi traguardi.
                La trasferta di San Damiano d' Asti con un pulman da 70 persone pieno di supporters, l'esordio delle
                Girlz (vedi foto sotto), l'album dei nostri campioni, il ritrovo a Pescia per l'assemblea nazionale del
                calcio popolare e per ultimo il torneo in Valsusa. Ci saremo sicuramente dimenticati altri momenti top
                di questo 2020 perché ogni secondo, ogni minuto, ogni ora passati insieme sono stati vissuti con grande
                passione e permetteteci il termine, PRESABBENE, sempre oltre il 90esimo.
                Non possiamo far altro allora che augurare ai/alle nostr* tesserat*, ai/alle nostr* soci/e ed ai/alle
                supporters un 2021 sicuramente migliore sul piano sanitario, ben consapevoli di quanto lo sport sia
                fondamentale per la salute di tutti e tutte, ma soprattutto abbiamo più chiare le nostre rivendicazioni
                come quello di renderlo accessibile a tutt*.
                Torneremo tutt* insieme sugli spalti, il sabato pomeriggio al Campo Bosso a tifare l' Aurora o al
                PalaCus a sostenere le Girlz, a lottare su ogni pallone e a farci il fiato agli allenamenti.
                Sempre con il nostro odio al calcio moderno, con i nostri valori solidali e con il solito sogno di
                essere una spina nel fianco un giorno nel calcio che conta. (seeeee sognate, sognate...) Avanti tutta
                Aurora Vanchiglia!
                BUON 2021! ALLA CARICA!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="column center-content">
            <h3>SE TOCCANO UNA, TOCCANO TUTTE!</h3>
            <p>
                La notizia della conferma della sorveglianza speciale alla nostra compagna e sorella Eddi ci lascia
                allibite e anche molto in allerta.
                A Torino, nella nostra cittá, la Procura ha appena creato l'ennesimo grosso precedente per cui chi
                sceglie di fare della lotta parte integrante della propria vita, chi sceglie di combattere ogni giorno
                contro fascismi, sessismo e sfruttamento lavorativo e territoriale è in pericolo: chi pensa e agisce le
                sue parole è in pericolo, e allora in pericolo lo siamo tutte. Tutte noi che viviamo la realtá che
                abitiamo senza subirla passivamente.
                "Arrendersi non è un opzione" e noi staremo al tuo fianco.
                <br>
                Asd Aurora Vanchiglia Girlz
            </p>
        </div>
        <div class="column">
            <img src="assets/eddi.jpg">
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img src="assets/match.png">
        </div>
        <div class="column center-content">
            <h3>Un anno fa
            </h3>
            <p>esordivamo ufficialmente in campionato e andò cosi, testuali parole:

                "Che cuore quest' Aurora Vanchiglia!
                Primo punto messo in cascina contro l' A.S.D Falcherese grazie al goal in rimonta del nostro perno
                difensivo Piero Maiorano!".
            </p>
        </div>
    </div>
</div>
<!-- <div class="contactus">
    <h2>Subscribe now To get Updates</h2>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Subscribe</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-flat-button>Subscribe Now</button>
    </form>
  </div> -->