<div  class="row" *ngIf="coverOnLeft">
    <div class="column center-content">
        <h3>{{article.title}}</h3>
        <p>{{article_body_preview()}}  <a *ngIf="isEllipsed()" [routerLink]="['/comunicati/'+article.id]">Continua a leggere</a></p>
    </div>
    <div class="column">
        <img src="{{article?.coverImage}}">
    </div>
</div>

<div  class="row" *ngIf="!coverOnLeft">
    <div class="column">
        <img src="{{article.coverImage}}">
    </div>
    <div class="column center-content">
        <h3>{{article.title}}</h3>
        <p>{{article_body_preview()}} <a *ngIf="isEllipsed()" [routerLink]="['/comunicati/'+article.id]">Continua a leggere</a></p>
    </div>
</div>
