<div class="contents">
    <h2>IL CALCIO È UNO SPORT PER RAGAZZE!</h2>
</div>

<div class="row">
    <div class="column center-content">
        <p>Un altro anno di #SportPopolare si appresta a iniziare e noi con grinta e determinazione siamo pronte a
            ricominciare ad allenarci!
            Nonostante la situazione pandemica incomba, la squadra cresce in qualità e in quantità a pieno ritmo,
            rendendo la nostra avventura sempre più stimolante.
            La nostra è un'esperienza fatta di impegno e passione, di crescita individuale e collettiva. Ognuna di
            noi porta dentro questo meraviglioso contenitore un pezzo di se': la sua forza, le sue rivendicazioni,
            le sue paure, la sua lotta. Continueremo anche quest'anno a farci sentire, a occupare con fierezza gli
            spazi che attraversiamo, a ripetere che il calcio è uno sport per ragazze, ad allenare il nostro corpo e
            la nostra mente. Solidali, ribelli, libere (… e pure belle, diciamocelo! 🤩 )
            Non vediamo l'ora di rivederci e poter finalmente giocare, di correre, di sudare, di ridere, di
            incazzarci, ma anche riabbracciarci e urlare insieme.

            Buon 2021 a tutte noi, e a tutt* coloro che ci sostengono. Che la nostra avventura continui con il vento
            sempre in poppa!

            Asd Aurora-Vanchiglia GIRLZ</p>
    </div>
</div>