<mat-drawer-container>
  <mat-drawer #drawer [mode]="isShowHideFlag">
    <mat-icon aria-hidden="false" class="close" (click)="drawer.toggle()">close</mat-icon>
    <br>
    <h1>Menù</h1>
    <mat-list role="list">
      <mat-list-item role="listitem"><a [routerLink]="['/home']" routerLinkActive="active-link" mat-button>Home</a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button>Chi Siamo</a></mat-list-item>
      <mat-list-item role="listitem"><a [routerLink]="['/comunicati']" routerLinkActive="active-link" mat-button>Comunicati</a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button>Iniziative </a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button>Calendario partite</a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button>Podcast</a></mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="nav">
      <mat-list role="list">
        <mat-list-item role="listitem"><a [routerLink]="['/home']" routerLinkActive="active-link" mat-button>Home</a></mat-list-item>
        <mat-list-item role="listitem"><a mat-button>Chi Siamo</a></mat-list-item>
        <mat-list-item role="listitem"><a [routerLink]="['/comunicati']" routerLinkActive="active-link" mat-button>Comunicati</a></mat-list-item>
        <mat-list-item role="listitem"><a mat-button>Iniziative </a></mat-list-item>
        <mat-list-item role="listitem"><a mat-button>Calendario partite</a></mat-list-item>
        <mat-list-item role="listitem"><a mat-button>Podcast</a></mat-list-item>
      </mat-list>
    </mat-toolbar>
    <div class="silder" [ngStyle]="{'background-image': 'url(' + cover + ')'}">
      <mat-icon aria-hidden="false" class="desktop-hide" (click)="drawer.toggle()">
        reorder
      </mat-icon>
      <div class="silder-content">
        <h1>{{title}}</h1>
      </div>
    </div>
    <router-outlet></router-outlet>
    <div class="footer" color="primary">
      <mat-toolbar color="primary">
        <span>Asd Aurora Vanchiglia</span>
      </mat-toolbar>
    </div>
  </mat-drawer-content>
</mat-drawer-container>