<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3>Nuova squadra o gruppo</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <hr>
    <form [formGroup]="groupForm">
      <section class="title-container">
        <mat-form-field appearance="fill">
          <mat-label>Titolo</mat-label>
          <input matInput placeholder="squadra o gruppo" formControlName="title" required>
          <mat-icon matSuffix>title</mat-icon>
          <mat-hint>Nome della squadra o del gruppo es: 'Pallaovolo mista'</mat-hint>
        </mat-form-field>
        <p>URL '<span>{{url_preview}}</span>'</p>
        <mat-checkbox formControlName="onMenu" color="primary">Aggiungi al menu</mat-checkbox>
      </section>
      <hr>
      <section style="margin-top: 2em;">
        <h3>Seleziona un icona</h3>
        <app-icon-selection formControlName="icon"></app-icon-selection>
      </section>
      <section style="margin-top: 2em;">
        <h3>Immagine di copertina</h3>
        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

        <div class="file-upload">

          {{fileName || "Nessuna immagine caricata"}}

          <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
        </div>
      </section>
      <hr>
      <section style="margin-top: 2em;">
        <h3>Descrizione</h3>
        <ngx-editor-menu [editor]="editor">
        </ngx-editor-menu>
        <ngx-editor [editor]="editor" formControlName="description"></ngx-editor>
      </section>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button routerLink="..">Annulla</button>
    <button mat-button [disabled]="!groupForm.valid" (click)="save()">Salva</button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="determinate" [value]="progressState" [color]="progressColor"></mat-progress-bar>
  </mat-card-footer>
</mat-card>