<mat-card style="margin: 2em; margin-top: 6em">
  <mat-card-header>
    <mat-card-title>
      <h3>{{title}}</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <hr>
    <form [formGroup]="groupForm">
      <section class="title-container">
        <mat-form-field appearance="fill">
          <mat-label>Titolo</mat-label>
          <input matInput placeholder="squadra o gruppo" formControlName="title" required>
          <mat-icon matSuffix>title</mat-icon>
          <mat-hint>Nome della squadra o del gruppo es: 'Pallaovolo mista'</mat-hint>
        </mat-form-field>
        <p>URL '<span>{{url_preview}}</span>'</p>
        <mat-checkbox formControlName="onMenu" color="accent">Aggiungi al menu</mat-checkbox>
      </section>
      <hr>
      <section style="margin-top: 2em;">
        <h3>Seleziona un icona</h3>
        <app-icon-selection formControlName="icon" (selected)="showIconSeletcion($event)"></app-icon-selection>
      </section>
      <hr>
      <section style="margin-top: 2em; min-height: 20vh; margin: 1em;">
        <div class="row">
        <div style="width: 50%;">
          <h3>Immagine di copertina</h3>
          <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

          <div class="file-upload">
  
           

            <button mat-raised-button color="primary" class="upload-btn" (click)="fileUpload.click()">
              {{fileName || "Carica immagine"}}
              <mat-icon>attach_file</mat-icon>
            </button>

          </div>
        </div>
        <div *ngIf="previewImageUrl" style="width: 50%;">
          <h3>Anteprima</h3>
          <img [src]="previewImageUrl" style="max-height: 20rem; max-width: 30rem;">
        </div>
      </div>
      </section>
      <hr>
      <section style="margin-top: 2em;">
        <h3>Descrizione</h3>
        <ngx-editor-menu [editor]="editor">
        </ngx-editor-menu>
        <ngx-editor [editor]="editor" formControlName="description"></ngx-editor>
      </section>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button routerLink="..">Annulla</button>
    <button mat-button [disabled]="!groupForm.valid" (click)="save()">Salva</button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="determinate" [value]="progressState" [color]="progressColor"></mat-progress-bar>
  </mat-card-footer>
</mat-card>