/* You can add global styles to this file, and also import other style files */



  @use '@angular/material' as mat;

  // Be sure that you only ever include this mixin once!
  @include mat.core();

  // Define your theme with color palettes, typography and density
  
  $mat-theme-primary-palette: map-merge(mat.$grey-palette, ( contrast: (100: #150c4a,)));
  $mat-theme-primary: mat.define-palette(
    $mat-theme-primary-palette,
    $default: 100,
    $lighter: 100,
    $darker: 700,
    $text: 500
  );
  
  $mat-theme-accent-palette: map-merge(mat.$blue-grey-palette, ( 501: #4d77b6,contrast: (501: white,A100: white,A200: white,)));
  $mat-theme-accent: mat.define-palette(
    $mat-theme-accent-palette,
    $default: 501,
    $lighter: A100,
    $darker: A200,
    $text: 600
  );
  
  $mat-theme-warn-palette: map-merge(mat.$pink-palette, ( ));
  $mat-theme-warn: mat.define-palette(
    $mat-theme-warn-palette,
    $default: A200,
    $lighter: 500,
    $darker: 500,
    $text: A700
  );
  
  $mat-dark-theme-primary-palette: map-merge(mat.$blue-grey-palette, ( contrast: (200: #030844,A100: rgba(0,0,0, 0.87),A700: rgba(0,0,0, 0.87),)));
  $mat-dark-theme-primary: mat.define-palette(
    $mat-dark-theme-primary-palette,
    $default: 200,
    $lighter: A100,
    $darker: A700,
    $text: 700
  );
  
  $mat-dark-theme-accent-palette: map-merge(mat.$blue-grey-palette, ( contrast: (A200: black,50: black,A400: black,)));
  $mat-dark-theme-accent: mat.define-palette(
    $mat-dark-theme-accent-palette,
    $default: A200,
    $lighter: 50,
    $darker: A400,
    $text: A100
  );
  
  $mat-dark-theme-warn-palette: map-merge(mat.$pink-palette, ( contrast: (A100: black,100: white,)));
  $mat-dark-theme-warn: mat.define-palette(
    $mat-dark-theme-warn-palette,
    $default: A100,
    $lighter: 100,
    $darker: A700,
    $text: 100
  );
  
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
  
  $mat-typography: mat.define-typography-config(
    $font-family: 'Rubik',
    $display-4:     mat.define-typography-level($font-size: 96px, $font-weight: 300, $font-family: Rubik),
    $display-3:     mat.define-typography-level($font-size: 60px, $font-weight: 500, $font-family: Rubik),
    $display-2:     mat.define-typography-level($font-size: 48px, $font-weight: 500, $font-family: Rubik),
    $display-1:     mat.define-typography-level($font-size: 34px, $font-weight: 500, $font-family: Rubik),
    $headline:      mat.define-typography-level($font-size: 24px, $font-weight: 500, $font-family: Rubik),
    $title:         mat.define-typography-level($font-size: 20px, $font-weight: 500, $font-family: Rubik),
    $subheading-2:  mat.define-typography-level($font-size: 18px, $font-weight: 500, $font-family: Rubik),
    $subheading-1:  mat.define-typography-level($font-size: 20px, $font-weight: 500, $font-family: Rubik),
    $body-2:        mat.define-typography-level($font-size: 16px, $font-weight: 400, $font-family: Rubik),
    $body-1:        mat.define-typography-level($font-size: 18px, $font-weight: 400, $font-family: Rubik),
    $caption:       mat.define-typography-level($font-size: 16px, $font-weight: Medium, $font-family: Rubik),
    $button:        mat.define-typography-level($font-size: 16px, $font-weight: 500, $font-family: Rubik),
    // Line-height must be unit-less fraction of the font-size.
    $input:         mat.define-typography-level($font-size: inherit, $line-height: 1.125, $font-weight: 500, $font-family: Rubik),
  );
  
  $mat-density: 0;
  // @include mat.elevation(
  //   $zValue: 12,
  //   $color: #000,
  //   $opacity: 0.5
  // );
  
  $mat-core-theme: mat.define-light-theme((
    color: (
      primary: $mat-theme-primary,
      accent: $mat-theme-accent,
      warn: $mat-theme-warn
    ),
    typography: $mat-typography,
    density: $mat-density
  ));

  $mat-dark-theme: mat.define-dark-theme((
    color: (
      primary: $mat-dark-theme-primary,
      accent: $mat-dark-theme-accent,
      warn: $mat-dark-theme-warn,
    )
  ));

  @include mat.all-component-themes($mat-core-theme);

  .dark-theme {
    @include mat.all-component-colors($mat-dark-theme);
  }

$primary :#1a1a1a;

* {
  font-family: 'Nunito Sans';
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #F0F3F5;
}

h1 {
  margin: 0;
  text-align: center;
  padding: 10px;
  font-weight: 600;
}
.active-link {
  background: #313131
}
// .mat-list-base {
//   display: flex !important;
//   padding-top: 0px !important;
//   position: absolute;
//   right: 0;

// }

.desktop-hide {
  display: none !important;
}

.mat-drawer:not(.mat-drawer-side) {
  position: fixed;
}

.mat-drawer-backdrop {
  position: fixed !important;
}

.mat-drawer {
  width: 100%;
  background-color: $primary;



  .close {
    font-size: 28px;
    color: #fff;
    float: right;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  h1 {
    color: #fff;
  }

  .mat-list-base {
    display: block !important;
    margin: 0 auto;
    position: relative;

    a {
      text-align: center;
      margin: 0 auto;
    }
  }
}

.mat-button {
  font-size: 24px;
  line-height: 58px !important;
}

.mat-toolbar {
  background-color: $primary !important;

}


.nav {
  position: fixed;
  width: 100%;
  z-index: 9;
}

.mat-list-base .mat-list-item {
  color: #fff !important;
}

.mat-icon {
  color: $primary;
}

h2 {
  text-align: center;
  font-size: 32px;
}

img {
  width: 100%;
  height: 100%;
}

.mat-icon {

  height: auto !important;
  width: auto !important;
}

.silder {
  height: 600px;
  background-size: cover;
  background-position: center;
  opacity: .9;

  .silder-content {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100%;
    width: 100%;

  }



  .mat-icon {
    font-size: 50px;
    color: #fff;
    float: left;
    cursor: pointer;

  }

  h1 {
    color: #fff;
    margin: auto;
    font-size: 50px;

  }
}

.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.features {
  padding-top: 60px;

  .row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .column {
      width: 33%;
      float: left;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;



      &:hover {
        background-color: #dfe4ea;
        cursor: pointer;
      }

      p {
        padding: 0 10px;

      }
    }
  }

  h3 {
    font-size: 26px;
    margin-bottom: 0px;
  }

  .mat-icon {
    font-size: 66px;



  }
}

.contents {

  padding-top: 20px;

  h2 {
    padding-bottom: 30px;
  }

  .row {

    width: 100%;
    display: flex;


    .column {
      width: 50%;
      float: left;
      text-align: center;
    }

    h3 {
      font-size: 26px;
      margin-bottom: 10px;
    }

    p {
      padding: 0 20px;
      font-size: 20px;
    }
  }

}

.contactus {
  background-image: url('https://unsplash.com/photos/VivsxaizzVE/download?force=true');
  background-position: center;
  background-size: cover;
  height: 200px;
  padding-top: 60px;
  padding-bottom: 40px;

  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgba(222, 222, 222, 0.5);
  }

  .mat-form-field.mat-focused .mat-form-field-label {

    color: $primary;
  }

  .mat-input-element {
    caret-color: $primary
  }

  h2 {
    color: #fff;
  }

  form {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  .mat-form-field {
    width: 100%;
  }

  button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    background-color: $primary;
    color: #fff;
  }
}

.footer {
  span {
    margin: auto;
  }
}

@media(max-width:842px) {
  h3 {
    font-size: 22px !important;
  }

  p {

    font-size: 16px !important;
  }
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $primary !important;
}

@media(max-width:768px) {
  .nav {
    display: none !important;
  }

  .desktop-hide {
    display: block !important;
  }

  .silder h1 {
    font-size: 36px;
  }

  .features {
    .row {
      flex-direction: column;
    }

    .column {
      width: 100% !important;
    }
  }
  .silder {
    .mat-icon {
        font-size: 40px;
    }
  }

  .contents {
    h2 {
      padding: 0px !important;

    }

    .row {
      flex-direction: column;
    }

    .row:nth-child(2),
    .row:nth-child(4) {
      display: none;
    }

    .column {
      width: 100% !important;
    }
  }
}

@media(max-width:542px) {
  .contactus {
    height: auto;

    form {
      width: 70%;
    }
  }
}
